/* Background image is white brick gym wall. Repeating at size 60% */
* {
  font-family: "Permanent Marker", cursive;
}

html {
  height: 100%;
  background: url(images/whitebrick.jpg) center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.container {
  /* Whole app details sit inside a container */
  overflow: hidden;
  width: 50%;

  display: block; /* Stretches the space out by the 300 pixels */
  margin: 0 auto; /* centers the container block */
  border-radius: 10px; /* makes edges soft */
  border: 8px solid rgb(179, 177, 177);
  padding-bottom: 30px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(77, 75, 75, 0.75),
    inset 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 1px rgba(77, 75, 75, 0.75),
    inset 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 1px rgba(77, 75, 75, 0.75),
    inset 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.app-title {
  text-align: center;
  width: 100%;
  height: 75px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.app-title p {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 2.2em;
  color: black;
}

.notification {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  background-color: #f8d7da;
  display: none; /* Hides until changed to block to bring up */
  text-align: center;
}

#myMap {
  /* where the google maps image will sit */
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
  height: 470px;
  -webkit-box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
  -moz-box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
  box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
}

#output {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  height: 50px;
  color: #0033cc;
  font-size: 1.2em;
  text-align: center;
}

#pin-left {
  height: 30px;
  width: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 4%;
  bottom: 81%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

#pin-right {
  height: 30px;
  width: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  display: inline-block;
  z-index: 100;
  position: absolute;
  right: 4%;
  bottom: 81%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

.buttons {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

#two-miles {
  margin-right: 6%;
  border-radius: 20%;
  padding: 15px 15px 15px 15px;
  border: 2px solid black;
  color: #0033cc;
  background-color: white;
  font-size: 1.25em;
}

#two-miles:hover {
  cursor: pointer;
  border-color: #0033cc;
}

#five-miles {
  border-radius: 20%;
  padding: 15px 15px 15px 15px;
  border: 2px solid black;
  color: #0033cc;
  background-color: white;
  font-size: 1.25em;
}

#five-miles:hover {
  cursor: pointer;
  border-color: #0033cc;
}

#ten-miles {
  margin-left: 6%;
  border-radius: 20%;
  padding: 15px 15px 15px 15px;
  border: 2px solid black;
  color: #0033cc;
  background-color: white;
  font-size: 1.25em;
}

#ten-miles:hover {
  cursor: pointer;
  border-color: #0033cc;
}

@media (min-width: 150px) {
  .container {
    width: 90%;
  }
  .app-title p {
    width: 100%;
    padding: 5px;
    font-size: 2em;
  }
  .app-title {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #two-miles {
    padding: 10px 10px 10px 10px;
    font-size: 1em;
  }
  #five-miles {
    padding: 10px 10px 10px 10px;
    font-size: 1em;
  }
  #ten-miles {
    padding: 10px 10px 10px 10px;
    font-size: 1em;
  }
  #output {
    margin-bottom: 20px;
    height: 30px;
    font-size: 1em;
  }
  #myMap {
    /* where the google maps image will sit */
    height: 420px;
  }
  #pin-left {
    bottom: 84%;
  }

  #pin-right {
    bottom: 84%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
  #myMap {
    /* where the google maps image will sit */
    height: 450px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .container {
    width: 60%;
  }
  #myMap {
    /* where the google maps image will sit */
    height: 470px;
  }
  .app-title p {
    width: 100%;
    padding: 15px;
    font-size: 2.2em;
  }
  .app-title {
    height: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #two-miles {
    padding: 15px 15px 15px 15px;
    font-size: 1.25em;
  }
  #five-miles {
    padding: 15px 15px 15px 15px;
    font-size: 1.25em;
  }
  #ten-miles {
    padding: 15px 15px 15px 15px;
    font-size: 1.25em;
  }
  #output {
    margin-bottom: 40px;
    height: 50px;
    font-size: 1.2em;
  }
  #pin-left {
    bottom: 81%;
  }

  #pin-right {
    bottom: 81%;
  }
}
