/* Background image is white brick gym wall. Repeating at size 60% */
* {
  font-family: "Permanent Marker", cursive;
}

html {
  height: 100%;
  background: url(images/whitebrick.jpg) center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.container {
  /* Whole app details sit inside a container */
  overflow: hidden;
  width: 50%;
  display: block; /* Stretches the space out by the 300 pixels */
  margin: 0 auto; /* centers the container block */
  border-radius: 10px; /* makes edges soft */
  border: 8px solid rgb(179, 177, 177);
  padding-bottom: 30px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 16px 3px rgba(84, 84, 84, 1);
  -moz-box-shadow: 0px 2px 16px 3px rgba(84, 84, 84, 1);
  box-shadow: 0px 2px 16px 3px rgba(84, 84, 84, 1);
}

.app-title {
  text-align: center;
  width: 100%;
  height: 75px;
  border-radius: 10px; /* corner rounding */
}

.app-title p {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 2.2em;
  color: black;
}

.notification {
  background-color: #f8d7da;
  display: none; /* Hides until changed to block to bring up */
  text-align: center;
}

#myMap {
  /* where the google maps image will sit */
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
  height: 450px;
  -webkit-box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
  -moz-box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
  box-shadow: -1px 11px 16px -5px rgba(84, 84, 84, 1);
}

.nearest-gym {
  width: 100%;
  height: 50px;
}

.nearest-gym p {
  width: 100%;
  padding: 20px;
  color: #0033cc;
  font-size: 1.2em;
  text-align: center;
}

#pin-left {
  height: 30px;
  width: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 4%;
  bottom: 85%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

#pin-right {
  height: 30px;
  width: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  display: inline-block;
  z-index: 100;
  position: absolute;
  right: 4%;
  bottom: 85%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}
